$primary: #3f51b5;
$danger: #ad000b;

.btn-primary {
    background-color: $primary !important;
}

.bg-primary {
    background-color: $primary !important;
}

.text-danger {
    color: $danger !important;
}

.table td,
th {
    vertical-align: middle;
}

.custom-switch.custom-switch-on-primary .custom-control-input:checked~.custom-control-label::before {
    background-color: $primary;
    border-color: $primary;
}
